* {
  margin: 0;
  padding: 0;
}

.pagamento-envio {
  display: block;
  width: 50%;
  margin: 30px;
  padding: 20px;
  border: 1px solid pink;
}

.pagamento-envio .email-login {
  width: auto;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pagamento-envio .email-login p {
}

.pagamento-envio .email-login a {
}

.pagamento-envio .endereco {
  width: 85%;
  height: 150px;
  margin: 10px auto;
  border: 1px solid black;
  box-shadow: 1px 3px 3px 1px gray;
  border-radius: 4px;
  background-color: white;
  text-align: center;
}

.endereco .endereco-cliente {
  text-align: left;
  margin: 10px;
  justify-content: left;
  border: 1px solid #ccc;
}

.endereco .envio-sign p {
  text-align: right;
  margin-top: 30px;
  padding: 10px;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 5px;
}

th,
td {
  border: 1px solid black;
}

th {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 4px 3px 16px -1px rgba(0, 0, 0, 0.12);
  text-align: left;
}

th .opcao-envio {
  display: flex;
}

th .opcao-envio label {
  margin: 10px;
}
