* {
  margin: 0;
  padding: 0;
}

.pagamento-envio {
  display: block;
  width: 40%;
  margin: 30px;
  padding: 20px;
  background-color: rgb(248, 248, 248);
}

.email-login {
  width: auto;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 3px;
  justify-content: space-between;
  padding: 10px;
}

.email-login a {
  color: black;
}

.pagamento-envio .endereco {
  width: 85%;
  height: 150px;
  margin: 10px auto;
  border: 1px solid black;
  box-shadow: 1px 3px 3px 1px gray;
  border-radius: 4px;
  background-color: white;
  text-align: center;
}

.endereco .endereco-cliente {
  text-align: left;
  margin: 10px;
  justify-content: left;
  border: 1px solid #ccc;
}

.endereco .envio-sign p {
  text-align: right;
  margin-top: 30px;
  padding: 10px;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 5px;
}

th,
td {
  border: 1px solid black;
}

th {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 4px 3px 16px -1px rgba(0, 0, 0, 0.12);
  text-align: left;
}

th .opcao-envio {
  display: flex;
}

th .opcao-envio label {
  margin: 10px;
}

.prazo-aviso {
  height: 15px;
  display: block;
  margin: 6px;
  padding: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(216, 216, 216, 0.959);
}

.prazo-aviso p {
  padding-left: 10px;
  text-align: left;
  font-size: 15px;
}

.observacoes h4 {
  margin: 5px 0;
}

.observacoes {
  display: block;
  margin: 3px;
  border-radius: 3px;
  padding: 5px;
}

.observacoes textarea {
  width: 100%;
}

.opcao-voltar {
  margin: 8px;
}

.opcao-voltar {
  color: black;
}
