@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Proza+Libre&family=Satisfy&family=Spectral&display=swap'); 

/*estilo - menu*/
.menu{
    background-color: red;
}

.menu-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

/*estilo - produto*/

.card-product{
    width: 350px;
    height: 550px;
    background-color: red;
}

.image{
    width: 100px;
    height: 100px;
    background-color: green;
}
